.Detail_title {
  position: relative;
  width: 100%;
  background: #000000c9;
  color: white;
  .detailBannerimage {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
  }
  .Detail {
    padding-block: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    // align-items: center;
    img {
      max-width: 400px;
    }
    .Title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        color: white;
      }

      .btn_Detail {
        display: flex;
        gap: 20px;
        h5 {
          background: rgb(85%, 18%, 41%);
          font-weight: 400;
          font-size: 14px;
          padding: 3px;
          border-radius: 5px;
        }
      }
      .reiting_Detail {
        display: flex;
        align-items: center;
        gap: 20px;
        .playbtn {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;

          &:hover .textTriler {
            color: #ff2c6d;
          }
        }

        svg {
          width: 80px;
          height: 80px;
        }

        .circle {
          fill: transparent;
          stroke: #ffffff;
          stroke-width: 6;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          stroke-dasharray: 650;
          stroke-dashoffset: 1300;
          transition: stroke-dashoffset 0.6s ease-in-out,
            stroke 0.6s ease-in-out;
        }

        .playbtn:hover .circle {
          stroke-dashoffset: 0;
          stroke: #ff2c6d;
        }

        @keyframes draw {
          to {
            stroke-dashoffset: 0; /* Линия полностью рисуется */
          }
        }

        .triangle {
          fill: none;
          stroke: white;
          stroke-width: 6;
          stroke-dasharray: 650;
          stroke-dashoffset: 1285;
          transition: stroke-dashoffset 0.6s ease-in-out,
            stroke 0.6s ease-in-out;
        }

        .playbtn:hover .triangle {
          stroke-dashoffset: 0;
          stroke: #ff2c6d;
        }

        .textTriler {
          color: white;
          font-size: 18px;
          font-weight: 500;
          transition: color 0.6s ease-in-out;
        }
      }
    }
  }
}
